.content{
    font-size: 30px;
    font-weight: bold;
}

.content img {
    width: 130vh;
    height: 5vh;
    object-fit: none;
    object-position: top;
}

.ava{
    display: grid;

    grid-template-areas:
        'a s'
        'a i';

    grid-template-rows: 50px 1fr  ;
    grid-template-columns: 1fr 10fr;
}

.ava img {
    grid-area: a;
}

.status{
    grid-area: s;
}

.persinform{
    grid-area: i;
}


.ava img{
    height: 50vh;
}
