.App{
   display: grid;
   margin: 0 auto;
   width: 60vw;
   grid-template-areas:
      'h h '
      's c'
      'f f';

   grid-template-rows: minmax(10%, auto) 1fr minmax(20%, auto);
   grid-template-columns: 8vw 10fr;
   grid-gap: 10px;
}
.header{
   grid-area: h;
}
.sidebar{
   grid-area: s;
}
.content{
   grid-area: c;
}

.footer{
   grid-area: f;
   background-color: deepskyblue;
   height: 10vh;
}